@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* normalizer */

:root {
    --main-font-family: 'Montserrat', sans-serif;

    /* --transition-for-all: all cubic-bezier(0.075, 0.82, 0.165, 1) 1500ms; */
  }
  
  html {
    box-sizing: border-box;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
    font-family: inherit;
  }
  
  body {
    margin: 0;
  
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 16px;
  
    color: var(--font-main-color);
    max-width: 100%;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  button {
    display: block;
    padding: 0;
    cursor: pointer;
  }
  
  nav {
    padding: 0;
  }

  .container {
    padding-left: 75px;
    padding-right: 75px;
  }